:root {
	--main-color:  #871e99;
}
html,
body {
	font-family: 'Open Sans', sans-serif;
}
.text-main {
	color: var(--main-color);
}
#user-avatar {
	border-radius: 50%;
	width: 140px;
	min-width: 140px;
	height: 140px;
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main-content {
	padding-top: 50px;
}

#user-name {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	padding-top: 40px;
	color: #871e99;
}

#user-bio {
	text-align: center;
	max-width: 270px;
	margin: 0 auto;
	font-size: 17px;
	padding-top: 12px;
	padding-bottom: 30px;
}

.user-stats {
	padding-bottom: 30px;
}

.user-stats a {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
}

.user-stats span {
	color: #871e99;
}

.divider {
	border-top: 1px solid #e0e0e0;
	max-width: 185px;
	margin: 0 auto;
}

.sidebar-nav {
	padding-top: 40px;
}

.sidebar-nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.sidebar-nav ul li {
	padding: 10px 0px;
}

.sidebar-nav ul li a {
	font-size: 18px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 30px;
	text-transform: uppercase;
}

.sidebar-nav ul li a:hover {
	color: #ffffff;
	background: #871e99;
	border-radius: 5px;
}

.follow-me {
	padding-top: 50px;
}

.follow-me button {
	font-size: 15px;
	font-weight: 600;
	color: #871e99;
	border: 2px solid #871e99;
	background: #fff;
	text-transform: uppercase;
}

.follow-me button:hover {
	color: #fff;
	border: 2px solid #871e99;
	background: #871e99;
}

.post-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding-bottom: 40px;
}

.post-img {
	width: 200px;
	min-width: 200px;
	height: 140px;
	object-fit: cover;
}

.post-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.post-content-body {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.post-content img {
	padding-right: 15px;
}

.post-title {
	font-size: 24px;
	font-weight: 700;
	color: #000000;
}

.post-date {
	color: #871e99;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 8px;
}

.post-body {
	color: #7a7a7a;
	font-size: 16px;
	margin: 0px;
}

button.btn.btn-primary.pagination {
	color: #871e99;
	background: #fff;
	padding: 10px 15px;
	border: 2px solid #871e99;
}

button.btn.btn-primary.pagination:hover {
	color: #fff;
	background: #871e99;
	padding: 10px 15px;
	border: 2px solid #871e99;
}

.dropdown-menu {
	background: #b1a1f4;
	min-width: 12rem;
}
.dropdown-item {
	padding: 0.75rem 1.5rem;
	color: #000000;
}
.social-icon{
	border-radius: 50%;
	border: solid 1px gray;
	padding: 2px;
}